.DS_Store
node_modules
.worktrees
.sst
.env
.idea
.vscode
*~
playground
tmp
dist
.claude
.arctic
ts-dist
.turbo
**/.serena
.serena/
/result
refs
Session.vim
AGENTS.md
arctic.json
a.out
GEMINI.md
target
plans/
.gemini